.activity {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .lineWrapper {
    width: 100%; /* 设置lineWrapper宽度为屏幕的90% */
    display: flex;
    justify-content: center;
   position: absolute;
   transform: translateY(-60%);
   display: flex;
   margin-left: 10%;
    
    
}

.clampedText {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.svg {
    width: 90%;  /*设置SVG宽度为lineWrapper的宽度 */
    height: 150px;  /*设定高度，可以根据需要调整 */
    position: relative;
    z-index: 10;
    /* cursor: arrow; */
}



.svgLine {
  width: 100%;
  height: 1px;
  
}
  
  
  .activityContent {
    display: flex;
    align-items: flex-start; /* 顶端对齐 */
    width: 90%;
    
    
  }
  
  .activityHeader {
    flex: 0.8;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .activityHeader h2 {
    margin: 0;
    font-size: 1.8vw; /* 调整艺术家姓名字体大小 */
    font-family: 'oppo Sans Heavy';
  }
  
  .activityHeader p {
    margin: 5px 0 0;
    font-size: 14px; /* 调整日期字体大小 */
    color: #888;
  }
  
  .activityDescription {
    flex: 2;
    padding-right: 30px;
    font-family: 'oppo Sans Heavy';
  }
  
  .activityDescription p {
    margin: 0;
    font-size: 1.2vw; /* 调整描述字体大小 */
    
  }
  
  .activityArtist {
    flex: 1.2;
    padding-right: 30px;
  }
  
  .activityArtist h3 {
    margin: 0;
    font-size: 1.8vw;  /* 调整艺术家姓名字体大小 */
    font-family: 'oppo Sans Heavy';
  }
  
  .activityArtist p {
    margin: 5px 0 0;
    font-size: 15px; /* 调整标签字体大小 */
    color: #888;
  }
  
  .activityImage {
    flex: 1.5;
  }
  
  .activityImage img {
    width: 100%;
  }



  @media (max-width: 763px) {
    .activityContent {
        flex-direction: column; /* 垂直排列 */
        gap: 10px; /* 调整间距 */
    }

    .activityHeader h2 {
      order: 2;
      font-size: 26px;
    }

    .activityHeader p {
      order: 1;
      
    }

    .activityArtist h3{
      font-size: 20px;
    }

    .activityArtist p{
      font-size: 14px;
    }
    
    /* 将 activityHeader 和 activityArtist 合并在一起 */
    .activityHeader,
    .activityArtist {
        flex: 0.5;
        width: 100%; /* 宽度占满 */
        padding-right: 0;
        order: 1;
    }
    
    /* 单独调整其他部分 */
    .activityDescription {
        flex: 1;
        width: 100%; /* 占满宽度 */
        padding-right: 0;
        order: 2;
        
    }

    .activityDescription p{
        font-size: 16px;
    }
    
    .activityImage {
        flex: 1;
        width: 100%; /* 占满宽度 */
        padding-right: 0;
        order: 3;
    }
}
  