.bigcontainer{

   
    height: 100vh;
    padding-top: 15vw;
    overflow: 0;
  
}

.frame{
    height: 85vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}






.doorbox{
    height: 85vh;
    width: 100%;
    position: absolute;
    bottom: 0;
   z-index: 5;
   display: flex;
   
}

.videobox{
    height: 80vh;
    width: 80%;
    left: 10%;
    position: absolute;
    bottom: 0vh;
   z-index: -3;
   display: flex;
   justify-content: center;
   
 

}



.videodoor{
   flex: 1;
   padding: 15vh 10% 30vh 10%;
   display: flex;
   justify-content: center;
 
   
   
   
  

}

.door{
   flex: 1;
   display: flex;
  
   
 

}

.door img{
    width: 100%;
    height: 100%;
    display: absolute;
    z-index: -3;
    
  

}






.frame img{
    width: 100%;
    height: 100%;
}
.textContainer{
    display: flex;
    justify-content: center;   
    font-family: 'oppo Sans Heavy';
    font-size: 5vmin;
    position: fixed;
    margin-top: 3vh;
    z-index: 4;
    
}

.container{
    width: 100%;
    display: flex;
    height: 60vh;
    bottom: 0;
    justify-content: center;
    align-items: center; 
    background-color: antiquewhite;
    bottom: 0;
    
}

.box{
    position: absolute;
    height: 85vh;
    width:40vw;
   
    display: flex;
   background-color: thistle;
    align-items: center;
    

}








.text{
    z-index: 1;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 3vw;
    top: 40%;
}

@media screen and (max-width: 1280px){
    
    
  
}

@media screen and (max-width: 900px) {
    .videodoor{
        flex: 1;
        padding: 20vh 5% 40vh 5%;
        display: flex;
        
        
       
     
     }
}

@media screen and (max-width: 500px) {
    .videodoor{
        flex: 1;
        padding: 20vh 1% 40vh 1%;
        display: flex;
        
        
       
     
     }
}